.container {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  padding: 0 8px;
}

.list {
  list-style: none;
  padding: 0;
}

.item {
  border: 1px solid #ccc;
  margin-bottom: 4px;
  padding: 4px;
}
